.dado {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding: .8rem 0;
    font-size: 1.6rem;
    font-weight: 700;
}

.legenda {
    width: 15rem;
    text-align: right;
}

.container {
    background-color: var(--cor3);
    width: 35rem;
    border-radius: 0.4rem;
}

.barra {
    background-color: var(--cor1);
    height: 3.2rem;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0.4rem;
}

.porcentagem {
    color: var(--cor2);
    position: absolute;
    left: 1.2rem;
}